body{
  background-color: maroon;
}
.App{
  background-color: lightgoldenrodyellow;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

#to-do-form input{
  background-color: lightsalmon;
  border: 0; 
  color: darkslategrey;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color:darkslategrey;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}